@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e3eb;
}

.calculator {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.calculator input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #eee;
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.buttons button {
  padding: 15px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color:#d0bdf4;
  cursor: pointer;
}

.buttons button:hover {
  background-color:  #8458B3;
}
